<strong>Olá, {{ ownerName }}</strong>
<p>Houve uma nova inscrição em <strong>meetupTitle</strong></p>
<p>
  <img style="width: 400px" src={{ bannerURL }} /><br />
  <strong>Encontro: </strong>{{ meetupDate }} <br />
  <br />
  <img style="width: 200px" src={{ subAvatar }} /><br />
  <strong>Inscrito: </strong>{{ subName }}<br />
  <strong>E-mail: </strong>{{ subEmail }}<br />
  <strong>Momento da inscrição: </strong>{{ subDate }}<br />
  <br />
  <small>
    O evento agora contém {{ subCount }} inscrito{{#biggerThan subCount 1}}s{{/biggerThan}}!
  </small>
</p>
